aiohttp
asyncio
discord.py[voice]
aioredis
-e git+git://github.com/chauffer/cobe.git#egg=cobe
humanize
aiogoogletrans
ics
arrow
ago
fuzzywuzzy[speedup]
youtube-dl
aioyoutube
aniso8601
structlog
colorama
aiocache[redis]
pyppeteer
furl
