ago
aiocache[redis]
aiogoogletrans
aiohttp
aioredis
aioyoutube
aniso8601
arrow
asyncio
colorama
discord.py[voice]
-e git+git://github.com/chauffer/cobe.git#egg=cobe
fuzzywuzzy[speedup]
humanize
ics
pytest
pytest-asyncio
structlog
youtube-dl
